<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="index.css">
    
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>Football</h1>
    </div>
    <div class="content">
        <div class="leagues">
            {{#each leagues}}
                <div class="league" data-id="{{this.id}}">
                    <img src="{{this.logo}}">
                    <h1>{{this.name}}</h1>
                </div>
            {{/each}}
        </div>
    </div>

    <script>
        document.querySelectorAll('.league').forEach((league) => {
            league.addEventListener('click', () => {
                window.location.href = '/id/' + league.dataset.id;
            })
        })
    </script>
</html>